
:root{
    --main-color:#10cab7;
    --secondary-color:#2c4755;
}
/* start global rules */
* {
    box-sizing:border-box;
}
body {
    font-family: "work sans" "sans-serif"
}
/* end global rules  */

.container {
    padding-left:15px;
    padding-right:15px;
    margin-left : auto;
    margin-right:auto;
}
@media (min-width:768px){
    .container{
        width:750 px;
    }
}
@media (min-width:992px){
    .container{
        width:950px ;
    }
}
@media (min-width:1200px){
    .container{
        width:1170px ;
    }
}
/* start header */
.header {
    padding :20px;
}
.header .container{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.header .logo {
    width:50px;
}
.header .links {
    position:relative;    
}
.header .icon{
    display:flex;
    flex-wrap:wrap;
    width:30px;
    justify-content:flex-end;
}
.header .links:hover  .icon span:nth-child(2){
    width:100%
}

.header .icon span{
    height:3px;
    background-color:#000;
    margin-bottom:5px;
}
.header .icon span:first-child{
    width:100%
}
.header .icon span:nth-child(2){
    width:60%;
    transition:.3s;
}
.header .icon span:last-child{
    width:100%
}
.header .links ul{
    list-style:none;
    margin:0;
    padding:0;
    min-width:200px;
    background-color:#f6f6f6;
    margin-bottom:10px;
    position:absolute;
    top:calc(100% + 20px);
    right:0;
    display:none;
    

}
.header .links:hover ul{
    display:block;
}
.header .links ul:before{
    content:"";
    border-width:10px;
    border-style:solid;
    border-color: transparent transparent #f6f6f6 transparent ;
    right:5px;
    top:-20px;

    position:absolute;



}
.header .links li a{
    padding:15px;
    text-decoration:none;
    display:block;
    color:#333;
    transition:.3s;

}
.header .links li a:hover{
    padding-left:25px;
}
.header .links li:not(:last-child){
    border-bottom: 1px solid #ddd;
}
/* end header  */
/* start landing section  */
.landing {
    background-image:url(../photos/mountain.jpg);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    height: calc(100vh - 64px)

}
.landing .intro-text{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}
.landing .intro-text h1 {
    margin:0;
    color:var(--main-color)

}
.landing .intro-text p{
    margin:0;
}
/* start compenent */
    .special-heading{
    font-size:100px;
    color:#ebeced;
    text-align:center;
    font-weight: 800;
    margin:0;
    letter-spacing:-3px;
    }
    .special-heading + p {
        text-align:center;
        font-size:1.5em;
        margin:-30px 0 0;
        font-weight: 100;
    }
    @media (max-width:767px){
        .special-heading{
            font-size: 60px;
            
        }
        .special-heading + p{
            margin: -20px 0 0;
        }
    }
/* end compenent */
/* start feature  */
.feature{
        padding-top:15px;
        padding-bottom: 15px;
        background-color:#f6f6f6
}
.feature .container{
        display: grid;
        grid-template-columns:repeat(auto-fill,minmax(300px,1fr));
        
        
}
.feature .feat{
    padding:15px;
    text-align:center;
}
.feature .feat i{
    color:var(--main-color);
}
.feature .feat h1{
    font-weight: 800;
    margin: 30px 0;
    font-size: 20px;
}
.feature .feat p{
    line-height: 1.5em;
    color: #333;
}
/* end feature  */
/* start services  */
.services{
    padding-top: 60px;
    padding-bottom: 60px;
}
.services .services-content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
     margin-top: 80px;
     margin-bottom: 100px;
}
.services .services-content .sev{
    display: flex;
    margin-bottom: 80px;
}
@media(max-width:767px){
    .services .services-content .sev{
        flex-direction: column;
        text-align: center;
    }
}
.services .services-content .sev i {
    color: var(--main-color);
    flex-basis: 60px;
}
.services .services-content .sev .text{
    flex: 1;
    
}  
.services .services-content .sev h3 {
    margin-top: 0;
}
.services .services-content .sev p{
    color: #444;
    font-weight: 300;

}
.services .services-content .image img{
    width: 100%;
    height: 100%;
    

}
.services .services-content .image{
    position:relative;
    max-width: 250px;
   max-height: 375px;

}
.services .services-content .image::before{
    content: "";
    background-color: var(--secondary-color);
    position: absolute;
    width: 100px;
    height: calc(100% + 100px);
    top:-50px;
    right:-50px;
    z-index: -1;
}
@media(max-width:1199){
    .image{
        display: none;

}
}
/* end services  */

/* start portfolio  */
.portfolio{
    background-color:#f6f6f6;
    padding-top: 30px;
    padding-bottom: 30px;
}
 .portfolio .container .portfolio-content{
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px, 1fr) );
       
}
.portfolio-content .image{
    max-width: 360px;
    max-height: 240px;
}
 .portfolio .portfolio-content img {
        width: 100%;
        height: 100%;

 }
.portfolio .container .portfolio-content h3{
        font-size: 18.72px;
        color: #000;
        padding-left: 20px;
}
.portfolio .container .portfolio-content p {
        color: #777777;
        font-weight: 300;
        padding-left: 10px;
        padding-right: 10px;

}
.portfolio .col{
    background-color: white;
   

}
@media(max-width:767px){

    .portfolio .col{
        margin-bottom: 20px;
    }
}
/* end portfolio  */
/* start about  */
.about{
    padding-bottom: 80px;
}
.about .container p{
    color: #797979;
}
.about .about-content .image {
    width: 250px;
    height: 375px;
    position: relative;
}
.about .about-content .image  img {
    max-width: 100%;
    max-height: 100%;
}
.about .about-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 100px;
}
@media(max-width:991px){
    .about .about-content {
        flex-direction: column;
    }
    .about .about-content .image::before,.about .about-content .image::after{
        display: none;
    }
    .about .about-content .image{
        margin: auto;
    }
    .about .about-content .text{
        text-align: center;
        padding-top: 30px;
    }
}
.about .about-content .image::before{
    content: "";
    width: 100px;
    height: calc(100% + 100px);
    position: absolute;
    left: 0;
    top: -50px;
    background-color: #ebeced;
    z-index: -1;
}
.about .about-content .image::after {
    content: "";
    width: 120px;
    height: 300px;
    position: absolute;
    top: -50px;
    right: -143px;
    border-left:80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    z-index: -1;
}
.about .about-content .text{
    flex-basis: calc(100% - 500px);
}
.about .about-content .text p:first-child{
    margin: 0 0 70px 0;
    color: #000;
    line-height: 2;

}
.about .about-content .text p:nth-child(3){
    margin-top: 60px;
}
.about .about-content .text hr{
    width: 50%;
    border-color: var(--main-color);
    display: inline-block;
}

/* end about  */
/* start contact  */
.contact {
    margin-top: 30px;
    background-color: #f6f6f6;
    padding-bottom: 80px;
}
.contact .text{
    text-align: center;
    margin-top: 80px;
    font-size: 35px;

}
.contact .text h3{
    color: var(--secondary-color);
    font-size: 35px;
}
@media(max-width:767px){
    .contact .text h3{
        font-size: 25px;
    }
}
.contact .text a{
    color: var(--main-color);
    text-decoration: none;
}
.find{
    display: flex;
    justify-content: center;
}
.find i {
    margin-left: 10px;
    color: var(--secondary-color);
}
/* end contact  */
/* start footer  */
.footer{
    background-color: var(--secondary-color);
    padding: 30px 0 30px 0;
    text-align: center;
    font-size: 20px;
    color: white;

}
.footer span{
    color: var(--main-color);
}
/* end footer  */